# Node modules
node_modules/

# Logs
*.log

# Build directories
/dist
/build

# Environment variables
.env

# Sensitive credentials (Google Cloud service account)
**/tokyo-concept-417109-7e61e0b32938.json
